.container {
    height: 100px;
    padding: 0px 50px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.item {
    flex: 2;
    display: flex;
    align-items: center;
}

.logo{
    background-color: crimson;
}

.texts{
    margin-left: 20px;
    color: white;
}

.text:nth-child(1){
    font-size: 14px;
    font-weight: 500;
}

.text:nth-child(2){
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem{
    margin:20px;
    font-weight: 500;
}

.item:last-child{
    justify-content: flex-end;
}
